{% extends 'base.html.twig' %}

{% block body %}
    <h1>Teachers list</h1>
    <p><a href="{{ path('TeacherForm') }}">Register a teacher</a></p>
    {% for teacher in teachers %}
        <table>
            <thead>
            <th>ID</th>
            <th>First name :</th>
            <th>Last name :</th>
            <th>Email :</th>
            <th>Adress :</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.firstName }}</td>
            <td>{{ teacher.lastName }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.address.street}}</td>
            <td>{{ teacher.address.streetNumber}}</td>
            <td>{{ teacher.address.zipcode}}</td>
            <td>{{ teacher.address.city}}</td>
            <td><a href="{{ path('teacher', {'id': teacher.id}) }}">Details</a></td>





            </tbody>
        </table>
    {% endfor %}
{% endblock %}